<% content_for(:head) do %>
    <%= javascript_include_tag "bootstrap-min.js"%>
<% end %>

<div id="wellcome" class="page-wellcome">
  <div class="container-fluid">
    <div class="row-fluid">
      <div id="title-hello" class="title-hello"><span>kuku</span></div>
      <%=t :hello%>

      <%=image_tag('hotel_logo.jpg', size: '50x50') %>

      <%= link_to "room", welcome_room_path %>
    </div>
  </div>

  <img src= "hotel_logo.jpg"  height="100%"  width="auto">

</div>
