

$hotelStandardFontFamily: 'Open Sans';
$hotelStandardFontSize: 18px;
$hotelHeaderFontSize2: 16px;

$hotelGreen:       #82BC00;
$hotelColor:      $hotelGreen;

$hotelBlue:      #2030BC;

$hotelLogo:      url('hotel_logo.jpg');