@import "bootstrap";
@import "hotel/variables";


.hotel-header {
  margin: 0;

  font-family: $hotelStandardFontFamily;
  font-size: $hotelHeaderFontSize2;
  background: #680609;

  height: 80px;

  .brand
  {
    color: darkorange;
    background:$hotelLogo;
  }

  .land
  {
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-size: large;
    color: whitesmoke;
    background: #680609;
    top: 0;
    bottom: 0;
    margin: auto;


    .btn:focus, .btn:active,
    .btn-default:focus, .btn-default:active{
      outline: none !important;
      border: none !important;
    }

    .btn{
      background: #680609;
      color: whitesmoke;
      border: none !important;
    }
    ul.dropdown-menu,
    ul.dropdown-menu > li > a{
      border-color: #680609;
      background: #680609;
    }
  }
}
.hotel-footer {

}

#title-hello.title-hello {

  color: #730E15;
}