@import "hotel/variables";


body[data-site-type=aligner-only] {
  min-width: 1420px;
  #header.page-header {
    //.pull-right{ border: $testBorder;}
    font-family: $hotelStandardFontFamily;
    font-size: $hotelHeaderFontSize2;
    background: $hotelColor;
  }
}