<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <nav class="row-fluid">
        <div class="span6">
          <ul class="nav nav-pills">
              <li class="active">
                <%= link_to "Wellcome", welcome_index_path, class: "call-to-action" %>
              </li>
              <li class="active">
                <%= link_to "Rooms", welcome_room_path, class: "call-to-action" %>
              </li>
              <li class="active">
                <%= link_to "Kontact", welcome_contact_path, class: "call-to-action" %>
              </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>