<div id="header" class="page-header">
  <div class="container-fluid">
    <div class="row-fluid">
      <%= render 'layouts/left_header' %>
      <%= render 'layouts/right_header' %>
    </div>
  </div>
</div>